@use 'base/variables' as v;

.text-center {
  text-align: center;
}

.bg-primario {
  background: v.$primario;
}

.bg-white {
  background: v.$blanco;
}

.margin-negativo-10 {
  margin-top: -10rem;
}

.padding-bottom-0 {
  padding-bottom: 0;
}